html,
body {
  font-size: 23px;
}

.card--img {
  object-fit: scale-down;
  width: 50vw;
  height: 30vh;
}

.holder {
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.history--container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.mb-4 {
  font-size: 23px;
  font-family: Outfit, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif; 
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title-font {

  font-family: Outfit, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif; 

}

.title-font-condensed {
  font-family: Outfit, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

.display-size {
  font-size: 48pt;
}

.title-size {
  font-size: 32pt;
}

.caption-size {
  font-size: 12pt;
}

.glow-text {
  text-shadow: 0 0 2px #5a5a5a;
}

.highlight {
  color: #2f94d7;
}

.header-image {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.header-height {
  height: 25vh;
}

.header-filter {
  backdrop-filter: contrast(50%);
}

.image-pointer {
  cursor: pointer;
}
