$body-bg: #ffffff;
$body-color: #5a5a5a;
$link-color: #B5221D;
$border-color: #B5221D;
$primary: #B5221D;
$font-family-sans-serif: Outfit, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap";